.form-control
{
    font-family: Raleway;
    color: #5c5c5c;
    box-shadow: 0 0 0 0;
    outline: 0;
}

button 
{
    width: 65px;
    height: 40px;
    border-radius: 2px;
    box-shadow: 0 0 0 0;
    outline: 0;
}
.btn-primary
{
    background-color: #ac53f2!important;
    box-shadow: 0 0 0 0;
    outline: 0;
}
