.github-text-box-2
{
    margin-top: 10px;
    padding-left: 25px;
}
.text-style-3
{
    font-family: Raleway;
    font-weight: 200;
}
.github-search-3
{

    font-family: Monaco;
    font-size: 40px;
    color: #000;
}
.not-found-message
{
    padding-top: 200px;
    font-family: Raleway;
    color: #ac53f2;
}

.form-control{
    font-family: Raleway;
    color: #5c5c5c;
}
button 
{
    width: 65px;
    height: 40px;
    border-radius: 2px;
    background-color: #ac53f2;
}
.input-box{
    padding: 0px 12px 0pc 16px;
}